body {
  background: url("background.jpg") no-repeat center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

*{
  margin: 0;
}

h1{
  color: lime;
  margin-bottom: 1%
}
/* background centrale opaco */
.container{
  background: rgba(0, 0, 0, 0.5);
  margin: 2% 15%;
  border-radius: 10px;
  padding: 5% 7.5%;
}

.title, nav{
  text-align: center;
}
/* logo */
.title > img{
  height: 100px;
}
/* navbar */
nav{
  background: lime;
  padding: 1.5%;
}
/* contenuto */
.monopattini{
  color: white;
  margin-top: 2%;
}

p{
  margin: 0.5% auto;
}
/* simboli sezione monopattini */
h2:before{
  content: "\274F ";
}

p:nth-child(2):before{
  content: "\27B2 ";
}

/* barre di carica monopattini */
.carico, .scarico, .mezzocarico{
  border-radius: 4px;
  padding: 2%;
}

.carico{
  background-color: #00b300;
  margin-right: 30%;
}

.scarico{
  background-color: #ff4d4d;
  margin-right: 80%;
}

.mezzocarico{
  background-color: #ffa31a;
  margin-right: 60%;
}
